5-Document Resume.json
{
  "name": "5-Document Resume",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZyYpa61ESQh8blbGZOGLZaD5lGbRCaRG",
          "mode": "list",
          "cachedResultName": "Docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZyYpa61ESQh8blbGZOGLZaD5lGbRCaRG"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        -16
      ],
      "id": "0d2919f5-d107-4eb2-82b2-a29097779b70",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sZldbyWvELTdz5jJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -304,
        -16
      ],
      "id": "e21ffdff-6d86-4f31-9245-9d69eeedd357",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "pY3o23qXuqWVUAvx",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Resume este contenido de 3 a 5 oraciones\nContent:  {{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -96,
        -16
      ],
      "id": "79f1e981-0a54-49bb-818c-bbaa0497ad88",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "QdzqBsXCodI3WYS4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -48,
        144
      ],
      "id": "e267d867-b833-450d-90b5-7ace6cf2d9fb",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G0rmCTNSi1WBKVNJ1RWTWBopEBXyDbRNz3qp-VmbpHs",
          "mode": "list",
          "cachedResultName": "n8n 5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G0rmCTNSi1WBKVNJ1RWTWBopEBXyDbRNz3qp-VmbpHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G0rmCTNSi1WBKVNJ1RWTWBopEBXyDbRNz3qp-VmbpHs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contenido": "={{ $json.message.content }}",
            "Nombre": "={{ $('Google Drive Trigger').item.json.name }}",
            "URL": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contenido",
              "displayName": "Contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -16
      ],
      "id": "08977cde-2346-47d3-873e-f4124aafbba0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6AdC5bbqKuwQWFgu",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60b92881-6746-4d21-a111-0720727a7e29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5897726c7287d5a66a59d11b46e689172462572c3dc8c684a438ee00e84ea71f"
  },
  "id": "t47BJfVMy21btx6C",
  "tags": []
}